In [1]:
# 从hrv_data_10s_fortrain.csv 文档中筛选以下几个人的数据（每个人数据条数大于1000，同时有着4种情绪标签）
# 张卜依, 朱必艳, 朱燕, 朱颖, 李佳宜, 梁怡, 王滋雨, 赵紫涵, 邓雯, 陈盈盈, 韩乐蓉
# 去掉每行的最后一个整数，然后保存为seleted10.csv的文件

In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('hrv_data_10s_fortrain.csv')

In [8]:
df.head()

,RMSSD,pNN58,SDNN,SD1,SD2,SD1_SD2,SampEn,emotion
0,58.067284,14.285714,33.734512,41.022421,24.355608,1.684311,0.332894,何怡 小紧张
1,53.382133,13.043478,32.598568,37.746869,26.467097,1.426181,1.213023,何怡 小紧张
2,84.652820,35.000000,51.009290,59.603943,40.635763,1.466785,0.869604,何怡 小紧张
3,69.497516,28.571429,42.244803,49.142165,33.974908,1.446425,0.993252,何怡 小紧张
4,73.125359,22.727273,43.859955,51.707427,34.259791,1.509274,0.949739,何怡 小紧张

In [9]:
df.tail()

,RMSSD,pNN58,SDNN,SD1,SD2,SD1_SD2,SampEn,emotion
56587,67.151716,23.529412,41.920872,47.483415,35.497101,1.337670,1.188224,欧敏 愉悦 2
56588,69.383445,31.250000,47.926874,48.943347,46.888372,1.043827,1.109662,欧敏 愉悦 2
56589,94.705426,29.411765,60.800112,66.966836,53.932829,1.241671,1.475907,欧敏 愉悦 2
56590,90.476841,23.529412,60.850401,63.642628,57.923729,1.098732,1.812379,欧敏 愉悦 2
56591,55.336471,12.500000,40.738586,39.128794,42.287140,0.925312,2.159484,欧敏 愉悦 2

In [12]:
# 使用正则表达式拆分'emotion'列
# 这个正则表达式假设格式为 "名字 情绪" 或 "名字 情绪 分数"
df[['subject', 'emotion_new', 'score']] = df['emotion'].str.extract(r'(\S+)\s(\S+)\s?(\d*)?')

# 删除原始的'emotion'列
df = df.drop('emotion', axis=1)

# 将'emotion_new'重命名为'emotion'
df = df.rename(columns={'emotion_new': 'emotion'})

In [13]:
df.head()

,RMSSD,pNN58,SDNN,SD1,SD2,SD1_SD2,SampEn,subject,emotion,score
0,58.067284,14.285714,33.734512,41.022421,24.355608,1.684311,0.332894,何怡,小紧张,
1,53.382133,13.043478,32.598568,37.746869,26.467097,1.426181,1.213023,何怡,小紧张,
2,84.652820,35.000000,51.009290,59.603943,40.635763,1.466785,0.869604,何怡,小紧张,
3,69.497516,28.571429,42.244803,49.142165,33.974908,1.446425,0.993252,何怡,小紧张,
4,73.125359,22.727273,43.859955,51.707427,34.259791,1.509274,0.949739,何怡,小紧张,

In [15]:
# 筛选指定人名的数据
names_to_keep = ['张卜依', '朱必艳', '朱燕', '朱颖', '李佳宜', '梁怡', '王滋雨', '赵紫涵', '邓雯', '陈盈盈', '韩乐蓉']
df_selected = df[df['subject'].isin(names_to_keep)]
df_selected

,RMSSD,pNN58,SDNN,SD1,SD2,SD1_SD2,SampEn,subject,emotion,score
5946,73.674163,35.294118,49.191403,51.915589,46.307233,1.121112,2.351375,赵紫涵,小悲伤,5
5947,76.112992,37.500000,69.212535,53.819994,81.756701,0.658295,1.648659,赵紫涵,小悲伤,5
5948,66.348983,25.000000,62.424484,46.685764,74.927110,0.623082,1.648659,赵紫涵,小悲伤,5
5949,84.893210,35.714286,59.791543,59.971081,59.611463,1.006033,0.238411,赵紫涵,小悲伤,5
5950,77.481795,35.714286,53.819628,54.724915,52.898851,1.034520,0.931558,赵紫涵,小悲伤,5
...,...,...,...,...,...,...,...,...,...,...
49829,44.198416,5.555556,32.771672,31.188718,34.281610,0.909780,1.147803,李佳宜,焦虑,6
49830,62.664450,22.222222,47.912322,44.118055,51.427410,0.857870,0.750306,李佳宜,焦虑,6
49831,66.118580,27.777778,47.866957,46.708249,48.998273,0.953263,1.127600,李佳宜,焦虑,6
49832,62.901157,22.222222,43.091701,44.477835,41.659473,1.067652,0.973449,李佳宜,焦虑,6
49833,38.851569,0.000000,28.004072,27.472208,28.526022,0.963058,0.878139,李佳宜,焦虑,6

In [16]:


# 去掉最后一列
df_processed = df_selected.iloc[:, :-1]

# 保存到新的CSV文件
df_processed.to_csv('seleted10.csv', index=False)

print("数据处理完成，已保存为 seleted10.csv")
df_processed.head()

数据处理完成，已保存为 seleted10.csv

,RMSSD,pNN58,SDNN,SD1,SD2,SD1_SD2,SampEn,subject,emotion
5946,73.674163,35.294118,49.191403,51.915589,46.307233,1.121112,2.351375,赵紫涵,小悲伤
5947,76.112992,37.500000,69.212535,53.819994,81.756701,0.658295,1.648659,赵紫涵,小悲伤
5948,66.348983,25.000000,62.424484,46.685764,74.927110,0.623082,1.648659,赵紫涵,小悲伤
5949,84.893210,35.714286,59.791543,59.971081,59.611463,1.006033,0.238411,赵紫涵,小悲伤
5950,77.481795,35.714286,53.819628,54.724915,52.898851,1.034520,0.931558,赵紫涵,小悲伤

In [17]:
# 读取处理后的文件
df_final = pd.read_csv('seleted10.csv')

# 获取'emotion'列的唯一值
unique_emotions = df_final['emotion'].unique()

print("文件 'seleted10.csv' 中的情绪标签有:")
print(unique_emotions)

文件 'seleted10.csv' 中的情绪标签有:
['小悲伤' '愉悦' '小愉悦' '悲伤' '焦虑' '平静' '烦躁' '紧张' '几乎不焦虑' '放松']

映射规则：

愉悦：'愉悦' '小愉悦'

悲伤：'小悲伤' '悲伤' 

焦虑：'焦虑'  '烦躁' '紧张'

平静：'平静' '几乎不焦虑' '放松'

In [19]:
# 读取 seleted10.csv 文件
df2 = pd.read_csv('seleted10.csv')

# 定义情绪映射规则
emotion_map = {
    '愉悦': '愉悦', '小愉悦': '愉悦',
    '小悲伤': '悲伤', '悲伤': '悲伤',
    '焦虑': '焦虑', '烦躁': '焦虑', '紧张': '焦虑',
    '平静': '平静', '几乎不焦虑': '平静', '放松': '平静'
}

# 应用映射规则到 'emotion' 列
df2['emotion'] = df2['emotion'].replace(emotion_map)

# 将修改后的数据保存回 seleted10.csv
df2.to_csv('seleted10.csv', index=False)

print("文件 'seleted10.csv' 已根据映射规则更新。")
df2.head()

文件 'seleted10.csv' 已根据映射规则更新。

,RMSSD,pNN58,SDNN,SD1,SD2,SD1_SD2,SampEn,subject,emotion
0,73.674163,35.294118,49.191403,51.915589,46.307233,1.121112,2.351375,赵紫涵,悲伤
1,76.112992,37.500000,69.212535,53.819994,81.756701,0.658295,1.648659,赵紫涵,悲伤
2,66.348983,25.000000,62.424484,46.685764,74.927110,0.623082,1.648659,赵紫涵,悲伤
3,84.893210,35.714286,59.791543,59.971081,59.611463,1.006033,0.238411,赵紫涵,悲伤
4,77.481795,35.714286,53.819628,54.724915,52.898851,1.034520,0.931558,赵紫涵,悲伤

In [3]:
df = pd.read_csv('seleted10.csv')
calm_data = df[df['emotion'] == '平静']
calm_data

,RMSSD,pNN58,SDNN,SD1,SD2,SD1_SD2,subject,emotion
114,81.042042,25.000000,50.617292,57.264446,42.953507,1.333173,赵紫涵,平静
115,46.942119,6.250000,35.536539,32.867127,38.018984,0.864493,赵紫涵,平静
116,54.281097,12.500000,43.167594,38.382303,47.472952,0.808509,赵紫涵,平静
117,82.464711,42.857143,69.895705,57.776575,80.204030,0.720370,赵紫涵,平静
118,81.748307,35.714286,57.121008,57.285915,56.955623,1.005799,赵紫涵,平静
...,...,...,...,...,...,...,...,...
14071,53.363143,12.500000,36.948892,37.663394,36.220297,1.039842,李佳宜,平静
14072,49.854789,12.500000,36.814519,35.177674,38.381622,0.916524,李佳宜,平静
14073,60.992827,12.500000,36.496374,43.128442,28.353273,1.521110,李佳宜,平静
14074,75.462739,25.000000,45.035770,53.360215,34.772528,1.534551,李佳宜,平静
14075,91.821498,43.750000,51.740657,64.927589,33.743138,1.924172,李佳宜,平静

In [4]:
feature_columns = calm_data.select_dtypes(include='number').columns.tolist()
feature_columns

['RMSSD', 'pNN58', 'SDNN', 'SD1', 'SD2', 'SD1_SD2']

In [5]:
 # 3. 分组与聚合：按 'subject' 分组，并计算均值和标准差
baseline_stats = calm_data.groupby('subject')[feature_columns].agg(['mean', 'std'])
baseline_stats

             RMSSD                 pNN58                  SDNN             \
              mean        std       mean        std       mean        std
subject
张卜依      50.369051   9.689927  11.838193   9.079441  37.713928   7.709744
朱必艳      49.469827   8.588448  10.532519   7.951010  34.142004   4.973634
朱燕       62.588502  12.141570  23.721081  12.291923  42.234412   8.400431
朱颖       60.526365  15.405608  20.292595  12.134802  43.101872  11.014448
李佳宜      57.560031  13.417591  19.152951  14.162299  41.077579   9.136167
梁怡       55.155726  15.659203  15.936937  14.865453  34.677106   8.989621
王滋雨      65.677037  15.823046  25.494630  15.052969  51.427675  11.927175
赵紫涵      72.129415  16.814053  29.638195  14.292167  54.472753  13.029487
邓雯       63.725851  14.553034  24.082145  13.345134  42.536581   8.968768
陈盈盈      60.113201  15.936124  20.295984  13.842399  42.961146  10.090190
韩乐蓉      65.677200  19.422533  22.969502  14.490824  49.466667  13.001031

               SD1                   SD2              SD1_SD2
              mean        std       mean        std      mean       std
subject
张卜依      35.537221   6.850754  38.899942  11.868714  0.982766  0.313774
朱必艳      34.908955   6.083593  32.867214   6.713175  1.096708  0.253716
朱燕       44.162528   8.577380  39.506430  11.142759  1.174026  0.307863
朱颖       42.624822  10.884872  42.581383  14.491869  1.072887  0.333194
李佳宜      40.608577   9.490774  40.437903  12.952304  1.074527  0.338731
梁怡       38.941966  11.072006  29.101165   8.986860  1.394894  0.381094
王滋雨      46.232180  11.168108  55.025163  16.879568  0.902942  0.288843
赵紫涵      50.795284  11.901408  56.515804  18.951051  0.976067  0.321876
邓雯       44.969351  10.302504  38.879687  11.824094  1.231574  0.364192
陈盈盈      42.375027  11.275593  42.474354  12.974978  1.053516  0.321800
韩乐蓉      46.271633  13.722721  51.382044  16.207145  0.951381  0.293300

In [10]:
# 4. Z-score 归一化
# 创建一个副本用于存储归一化后的数据
df_normalized = df.copy()

# 获取要归一化的特征列
feature_columns_to_normalize = feature_columns # 这个变量在之前的单元格中已经定义

# 遍历每个被试
for subject in df['subject'].unique():
    # 检查该被试是否存在于基线统计数据中
    if subject in baseline_stats.index:
        # 获取当前被试的均值和标准差
        subject_means = baseline_stats.loc[subject].loc[(feature_columns_to_normalize, 'mean')]
        subject_stds = baseline_stats.loc[subject].loc[(feature_columns_to_normalize, 'std')]
        
        # 提取索引，以便正确赋值
        subject_means.index = subject_means.index.get_level_values(0)
        subject_stds.index = subject_stds.index.get_level_values(0)

        # print(subject_means, '\n',subject_means.index)

        # 定位当前被试在原始数据中的所有行
        subject_indices = df_normalized['subject'] == subject
        
        # 对每个特征列进行z-score归一化
        # z = (x - mean) / std
        df_normalized.loc[subject_indices, feature_columns_to_normalize] = \
            (df.loc[subject_indices, feature_columns_to_normalize] - subject_means) / subject_stds

print("Z-score 归一化完成。")
df_normalized.head()

RMSSD      72.129415
pNN58      29.638195
SDNN       54.472753
SD1        50.795284
SD2        56.515804
SD1_SD2     0.976067
Name: 赵紫涵, dtype: float64
 Index(['RMSSD', 'pNN58', 'SDNN', 'SD1', 'SD2', 'SD1_SD2'], dtype='object')
RMSSD      62.588502
pNN58      23.721081
SDNN       42.234412
SD1        44.162528
SD2        39.506430
SD1_SD2     1.174026
Name: 朱燕, dtype: float64
 Index(['RMSSD', 'pNN58', 'SDNN', 'SD1', 'SD2', 'SD1_SD2'], dtype='object')
RMSSD      60.113201
pNN58      20.295984
SDNN       42.961146
SD1        42.375027
SD2        42.474354
SD1_SD2     1.053516
Name: 陈盈盈, dtype: float64
 Index(['RMSSD', 'pNN58', 'SDNN', 'SD1', 'SD2', 'SD1_SD2'], dtype='object')
RMSSD      63.725851
pNN58      24.082145
SDNN       42.536581
SD1        44.969351
SD2        38.879687
SD1_SD2     1.231574
Name: 邓雯, dtype: float64
 Index(['RMSSD', 'pNN58', 'SDNN', 'SD1', 'SD2', 'SD1_SD2'], dtype='object')
RMSSD      49.469827
pNN58      10.532519
SDNN       34.142004
SD1        34.908955
SD2        32.867214
SD1_SD2     1.096708
Name: 朱必艳, dtype: float64
 Index(['RMSSD', 'pNN58', 'SDNN', 'SD1', 'SD2', 'SD1_SD2'], dtype='object')
RMSSD      50.369051
pNN58      11.838193
SDNN       37.713928
SD1        35.537221
SD2        38.899942
SD1_SD2     0.982766
Name: 张卜依, dtype: float64
 Index(['RMSSD', 'pNN58', 'SDNN', 'SD1', 'SD2', 'SD1_SD2'], dtype='object')
RMSSD      60.526365
pNN58      20.292595
SDNN       43.101872
SD1        42.624822
SD2        42.581383
SD1_SD2     1.072887
Name: 朱颖, dtype: float64
 Index(['RMSSD', 'pNN58', 'SDNN', 'SD1', 'SD2', 'SD1_SD2'], dtype='object')
RMSSD      65.677037
pNN58      25.494630
SDNN       51.427675
SD1        46.232180
SD2        55.025163
SD1_SD2     0.902942
Name: 王滋雨, dtype: float64
 Index(['RMSSD', 'pNN58', 'SDNN', 'SD1', 'SD2', 'SD1_SD2'], dtype='object')
RMSSD      55.155726
pNN58      15.936937
SDNN       34.677106
SD1        38.941966
SD2        29.101165
SD1_SD2     1.394894
Name: 梁怡, dtype: float64
 Index(['RMSSD', 'pNN58', 'SDNN', 'SD1', 'SD2', 'SD1_SD2'], dtype='object')
RMSSD      65.677200
pNN58      22.969502
SDNN       49.466667
SD1        46.271633
SD2        51.382044
SD1_SD2     0.951381
Name: 韩乐蓉, dtype: float64
 Index(['RMSSD', 'pNN58', 'SDNN', 'SD1', 'SD2', 'SD1_SD2'], dtype='object')
RMSSD      57.560031
pNN58      19.152951
SDNN       41.077579
SD1        40.608577
SD2        40.437903
SD1_SD2     1.074527
Name: 李佳宜, dtype: float64
 Index(['RMSSD', 'pNN58', 'SDNN', 'SD1', 'SD2', 'SD1_SD2'], dtype='object')
Z-score 归一化完成。

      RMSSD     pNN58      SDNN       SD1       SD2   SD1_SD2 subject emotion
0  0.091872  0.395736 -0.405338  0.094132 -0.538681  0.450624     赵紫涵      悲伤
1  0.236919  0.550078  1.131263  0.254147  1.331900 -0.987250     赵紫涵      悲伤
2 -0.343786 -0.324527  0.610287 -0.345297  0.971519 -1.096646     赵紫涵      悲伤
3  0.759115  0.425134  0.408212  0.770984  0.163350  0.093098     赵紫涵      悲伤
4  0.318328  0.425134 -0.050127  0.330182 -0.190858  0.181601     赵紫涵      悲伤

In [7]:
df_normalized.to_csv('seleted10_normalized.csv', index=False)

In [12]:
feature_cols = ['RMSSD', 'pNN58', 'SDNN', 'SD1', 'SD2', 'SD1_SD2']
print(df_normalized[feature_cols].describe())

              RMSSD         pNN58          SDNN           SD1           SD2  \
count  14221.000000  14221.000000  14221.000000  14221.000000  14221.000000
mean      -0.016408     -0.058970     -0.025465     -0.014514     -0.023617
std        1.055650      0.993439      1.104882      1.055372      1.102622
min       -2.863437     -2.073737     -2.999819     -2.937212     -2.305836
25%       -0.731161     -0.779375     -0.765284     -0.730967     -0.787058
50%       -0.117828     -0.139371     -0.175524     -0.115772     -0.215914
75%        0.555846      0.540498      0.526498      0.558028      0.499303
max       12.218571      6.038750     13.466579     12.207216     15.007110

            SD1_SD2
count  14221.000000
mean       0.039226
std        1.069835
min       -3.198245
25%       -0.708325
50%       -0.074463
75%        0.660090
max        6.657561


### 验证数据处理的正确性

为了确保Z-score归一化过程是正确且可逆的，我们将执行以下反向验证步骤：

1.  **选择一个样本**：我们选取一名被试在特定情绪下的几条数据作为样本。
2.  **获取归一化数据和基线统计**：从`df_normalized`中提取样本的归一化特征值，并从`baseline_stats`中获取该被试的均值（mean）和标准差（std）。
3.  **反向计算**：应用Z-score的逆公式 `原始值 = (Z-score * 标准差) + 均值`，来还原原始数据。
4.  **对比验证**：将还原后的数据与`seleted10.csv`中的原始数据进行比较。

如果还原后的数据与原始数据基本一致（考虑到浮点数计算可能存在的微小误差），则证明我们的数据清洗和归一化流程是正确的。

In [16]:

# 验证归一化过程的正确性
df = pd.read_csv('seleted10.csv')
df_normalized = pd.read_csv('seleted10_normalized.csv')
# 1. 选择一个被试和情绪进行验证
subject_to_verify = '赵紫涵'
emotion_to_verify = '愉悦'
# 选择要验证的特征列
feature_cols_to_verify = ['RMSSD', 'pNN58', 'SDNN', 'SD1', 'SD2', 'SD1_SD2']

# 2. 从归一化数据中提取样本
normalized_sample = df_normalized[
    (df_normalized['subject'] == subject_to_verify) & 
    (df_normalized['emotion'] == emotion_to_verify)
][feature_cols_to_verify].head(1) # 取第一个样本点

# 3. 从原始数据中提取对应的样本
original_sample = df[
    (df['subject'] == subject_to_verify) & 
    (df['emotion'] == emotion_to_verify)
][feature_cols_to_verify].head(1)

# 4. 获取该被试的基线统计数据 (均值和标准差)
subject_means = baseline_stats.loc[subject_to_verify].loc[(feature_cols_to_verify, 'mean')]
subject_stds = baseline_stats.loc[subject_to_verify].loc[(feature_cols_to_verify, 'std')]

# 移除多重索引以便计算
subject_means.index = subject_means.index.get_level_values(0)
subject_stds.index = subject_stds.index.get_level_values(0)

# 5. 执行反向计算： original = (z_score * std) + mean
restored_data = (normalized_sample * subject_stds) + subject_means

# 6. 打印结果进行对比
print(f"正在验证被试 '{subject_to_verify}' 在情绪 '{emotion_to_verify}' 下的数据")
print("-" * 50)
print("原始数据:")
print(original_sample)
print("-" * 50)
print("反向计算还原的数据:")
# 重置索引以匹配格式
restored_data.index = original_sample.index
print(restored_data)
print("-" * 50)
print("结论：比较以上两组数据，如果数值非常接近（可能存在微小的浮点计算误差），则证明归一化过程正确无误。")

正在验证被试 '赵紫涵' 在情绪 '愉悦' 下的数据
--------------------------------------------------
原始数据:
        RMSSD  pNN58       SDNN        SD1        SD2   SD1_SD2
14  82.403883   45.0  61.872026  57.802422  65.689993  0.879927
--------------------------------------------------
反向计算还原的数据:
        RMSSD  pNN58       SDNN        SD1        SD2   SD1_SD2
14  82.403883   45.0  61.872026  57.802422  65.689993  0.879927
--------------------------------------------------
结论：比较以上两组数据，如果数值非常接近（可能存在微小的浮点计算误差），则证明归一化过程正确无误。